ul.rs-list > li {
  display:inline-block;
  width:50px;
  height:50px;
  background-color:rgb(255,0,102);
  margin:0px 32px;
  transform:rotate(45deg);
  text-align:center;
  transition:all 0.7s;
}

ul.rs-list > li:hover {
  border-radius:50%;
  transform:rotate(405deg);
}

ul.rs-list > li > a > i {
  line-height:50px;
  color:white;
  font-size:22px;
  transform:rotate(-45deg);
  transition:all 0.7s;
  width:50px;
}

ul.rs-list > li[class*=google]:hover {
  background-color:#dd4b39;
}

ul.rs-list > li[class*=facebook]:hover {
  background-color:#3b5998;
}

ul.rs-list > li[class*=twitter]:hover {
  background-color:#55acee;
}

ul.rs-list > li[class*=instagram]:hover {
  background-color:#e95950;
}

ul.rs-list > li[class*=pinterest]:hover {
  background-color:#cb2027;
}

ul.rs-list {
  display:inline-block;
  width:100%;
  margin:0;
  list-style:none;
}

.list-wrapper {
  width:100%;
}

.progress-bar-striped-pink {
  background-image:linear-gradient(-45deg, #ff0066 25%, #ff2288 25%, #ff2288 50%, #ff0066 50%, #ff0066 75%, #ff2288 75%, #ff2288);
}

.bar-container {
  margin:20px auto;
}

.text-left {
  font-size:1.1em;
  font-weight:300;
}

.text-right {
  font-size:1.1em;
  font-weight:300;
}

li {
  font-size:1.1em;
  font-weight:300;
}

